<!doctype html>
<html>
<head>
    <title>Bingo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
        <h1>Bingo</h1>
  <section id="bingo-wrapper">
    <section id="card">
        <h3 class="card-header">Bingo Card</h3>
        <section id="b-card">
          <section id="box">
            <section class="num" id="num1"></section>
            <button type="button" id="bing1" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num2"></section>
            <button type="button" id="bing2" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num3"></section>
            <button type="button" id="bing3" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num4"></section>
            <button type="button" id="bing4" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num5"></section>
            <button type="button" id="bing5" name="button">Check</button>
          </section>
          <br>
          <section id="box">
            <section class="num" id="num6"></section>
            <button type="button" id="bing6" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num7"></section>
            <button type="button" id="bing7" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num8"></section>
            <button type="button" id="bing8" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num9"></section>
            <button type="button" id="bing9" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num10"></section>
            <button type="button" id="bing10" name="button">Check</button>
          </section>
          <br>
          <section id="box">
            <section class="num" id="num11"></section>
            <button type="button" id="bing11" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num12"></section>
            <button type="button" id="bing12" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num13"></section>
            <button type="button" id="bing13" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num14"></section>
            <button type="button" id="bing14" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num15"></section>
            <button type="button" id="bing15" name="button">Check</button>
          </section>
          <br>
          <section id="box">
            <section class="num" id="num16"></section>
            <button type="button" id="bing16" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num17"></section>
            <button type="button" id="bing17" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num18"></section>
            <button type="button" id="bing18" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num19"></section>
            <button type="button" id="bing19" name="button">Check</button>
          </section>
          <section id="box">
            <section class="num" id="num20"></section>
            <button type="button" id="bing20" name="button">Check</button>
          </section>
        <section id="bingo-btn">
            <button type="button" id="bingoclaim" value="Bingo">Bingo</button>
        </section>
      </section>
    </section>
   </section>
       <p>Login or Signup: Admin</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
